<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-lg col-md-6 rounded">
               <div class="card-header">
                 <h2 class="text-center"><b>ADD STUDENT</b></h2>
               </div>
               <div class="input-group mt-5 p-5">
                   <label for="" class="col-md-12"><h5><b>FIRST-NAME</b></h5></label><br>
                    <input type="text" class="form-control">
               </div>
 
               <div class="input-group  p-5">
                 <label for="" class="col-md-12"><h5><b>LAST-NAME</b></h5></label><br>
                  <input type="text" class="form-control">
             </div>
 
             <div class="input-group  p-5">
                 <label for="" class="col-md-12"><h5><b>E-MAIL ADDRESS</b></h5></label><br>
                  <input type="text" class="form-control">
             </div>
 
             <div class="input-group  p-5">
                 <label for="" class="col-md-12"><h5><b>PHONE NO</b></h5></label><br>
                  <input type="text" class="form-control">
             </div>
            </div>
        </div>
    </div>
 </div>
