<app-navbar></app-navbar>

<div class="container">
    <div class="h2 text-center mt-5">
        <b>TEAM ONE(1)</b>
    </div>

    <div class="h6 text-center mt-5">
        <b>ARRANGE YOUR TEAM HERE !</b>
    </div>
 <div class="row">

    <div class="col-md-6 mt-5">
        <div class="card-header">
           CLICK TO CHANGE CLUB
        </div>
      <input type="text" [(ngModel)]="club1"  class="form-control" value="">
     </div>

   <div class="col-md-6 mt-5">
      <div class="card-header">
        CLICK TO CHANGE COACH
      </div>
    <input type="text" [(ngModel)]="coach1"  class="form-control">
   </div>

   <div class="col-md-6 mt-5">
    <div class="card-header">
      CLICK TO CHANGE PLAYERS
    </div>
    <input [(ngModel)]="player1" type="text"  class="form-control">
    <input [(ngModel)]="player2" type="text"  class="form-control">
    <input [(ngModel)]="player3" type="text"  class="form-control">
    <input [(ngModel)]="player4" type="text"  class="form-control">
    <input [(ngModel)]="player5" type="text"  class="form-control">
    <input [(ngModel)]="player6" type="text"  class="form-control">
    <input [(ngModel)]="player7" type="text"  class="form-control">
    <input [(ngModel)]="player8" type="text"  class="form-control">
    <input [(ngModel)]="player9" type="text"  class="form-control">
    <input [(ngModel)]="player10" type="text"  class="form-control">
    <input [(ngModel)]="player11" type="text"  class="form-control">

 </div>

 <div class="col-md-6 mt-5">
    <div class="card-header">
        CLICK TO CHANGE CAPTAIN
    </div>
    <input type="text" [(ngModel)]="captain1"  class="form-control">
 </div>

 <div class="col-md-6 mt-5">
    <div class="card-header">
        CLICK TO CHANGE ASST. CAPTAIN
</div>
<input type="text" [(ngModel)]="asstCaptain1"  class="form-control">
 </div>

 <div class="col-md-6 mt-5">
    <div class="card-header">
        CLICK TO CHANGE BENCHERS 
    </div>
    <input type="text" [(ngModel)]="benchers1"  class="form-control">
    <input type="text" [(ngModel)]="benchers2"  class="form-control">
    <input type="text" [(ngModel)]="benchers3" class="form-control">
    <input type="text" [(ngModel)]="benchers4" class="form-control">

 </div>
 
 <div class="col-md-6 mt-5">
    <div class="card-header">
        CLICK TO CHANGE  GOALKEEPER
    </div>
    <input type="text" [(ngModel)]="keeper1"  class="form-control">
 </div>

 <div class="col-md-6 mt-5">
    <div class="card-header text-center text-white" (click)="submitteamone" style="background-color: rgb(5, 4, 88) !important;">
        OK
    </div>
 </div>

 <!-- <div class="col-md-6 mt-5">
    <div class="card-header text-center text-white"(click)="back_to_home()" routerLink="/home" style="background-color: rgb(90, 10, 10) !important;">
        BACK TO HOME
    </div>
 </div> -->
 </div>

</div>