<form action="">

<div class="container mt-5">
   <div class="row">
      <div class="col-md-6 mb-5">
          <div class="card shadow">
              <div class="card-header">
                    
                        <table class="table table-responsive-md">
                            <thead>
                              <tr class="bg-secondary text-white text-center mb-4">
                                <th scope="col">S/N</th>
                                <th scope="col">PRODUCT</th>
                                <th scope="col">QUANTITY</th>
                                <th scope="col">PRICE</th>
                                <th scope="col">ACTION</th>
                              </tr>
                              
                            </thead> 
                              
                           

                            <tbody class="table-bordered table-editable">
                                <tr *ngFor="let p of products let i=index">
                                    <td class="h6 text-center">{{i + 1}}</td>
                                    <td class="h6 text-center">{{p.namey | uppercase}}</td>
                                    <td class="h6 text-center">{{p.quan}}</td>
                                    <td class="h6 text-center" ngClass="{{p.pri <= 10? 'text-danger' : 'text-success' }}">{{p.pri | currency}}</td>
                                    <td class="h6 text-center"><button (click)='delete(i)' class="btn btn-light btn-sm"><span class="fa fa-trash"></span></button>
                                    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal">
                                        <span class="fa fa-edit"></span>
                                    </button>
                                </tr>
                            </tbody>
                        </table>

                   
              </div>
          </div>
      </div>
      <div class="col-md-6 mb-5">
         <div class="card shadow">
             <div class="card-header">
                <div class="h5 text-center mb-4">INPUT YOUR PRODUCTS</div>
             <div class="input-group mb-4">
                 <span class="input-group-text bg-secondary text-white">PRODUCT</span>
                 <input type="text" class="form-control" name="product" [(ngModel)]="product">
             </div>
             <div class="input-group mb-4">
                <span class="input-group-text bg-secondary text-white">QUANTITY</span>
                <input type="text" inputmode="numeric" pattern="[0-9]*" class="form-control" name="quantity" [(ngModel)]="quantity">
            </div>
            <div class="input-group mb-4">
                <span class="input-group-text bg-secondary text-white">PRICE GDS</span>
                <input type="number"  class="form-control " name="price" [(ngModel)]="price">
            </div>
            <button class="btn btn-secondary float-right" (click)="addItem()" style="cursor: pointer;"><span class="fa fa-plus"></span> ADD</button>

            </div>
         </div>
      </div>

      <div class="input-group mb-4 col-md-6">
        <span class="input-group-text bg-secondary text-white" style="cursor: pointer;">GET TOTAL</span>
        <input type="text" readonly class="form-control" name="product">
      </div>
   </div>
</div>


  
  
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="input-group mb-4">
                <input type="text" inputmode="numeric" pattern="[0-9]*" class="form-control" name="quantity" [(ngModel)]="quantity">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

</form>

