<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col-md-12 mt-5">
        <div class="greenBackground">

            <input type="text" [(ngModel)]="club" class="form-control text-center h1" style="background-color: none !important;">
            <div class="light-greenDiv">
    
          <input type="text" [(ngModel)]="playname1" class="light-green form-control text-white text-center" readonly>
         
          <input type="text" [(ngModel)]="playname2" class="light-green2 form-control text-white text-center" readonly>

          <input type="text" [(ngModel)]="playname3" class="light-green3 form-control text-white text-center" readonly>
          <input type="text" [(ngModel)]="playname4" class="light-green4 form-control text-white text-center" readonly>
        </div>

        <div class="light-greenDiv2">
            <input type="text" [(ngModel)]="playname5" class="light-green form-control text-white text-center" readonly>
            <input type="text" [(ngModel)]="playname6" class="light-green2 form-control text-white text-center" readonly>
            <input type="text" [(ngModel)]="playname7" class="light-green3 form-control text-white text-center" readonly>
            <input type="text" [(ngModel)]="playname8" class="light-green4 form-control text-white text-center" readonly>
          </div>

          <div class="light-greenDiv3">
            <input type="text" [(ngModel)]="playname9" class="light-green form-control text-white text-center" readonly>
            <input type="text" [(ngModel)]="playname10" class="light-green2 form-control text-white text-center" readonly>
            <input type="text" [(ngModel)]="playname11" class="light-green3 form-control text-white text-center" readonly>
        </div>

        <div class="light-greenDiv4">
            <input type="text" [(ngModel)]="keepername" class="light-green form-control text-white text-center" readonly>
        </div>

<div>
    <img src="../../assets/imgballers/modric.jpg" style="width:100px; height: 100px; margin-top: -1100px; margin-left: 130px;" class="img rounded-circle">
    <img src="../../assets/imgballers/messi.png" style="width:100px; height: 100px; margin-top: -1100px; margin-left: 160px;" class="img rounded-circle">
    <img src="../../assets/imgballers/ronaldo.jpg" style="width:100px; height: 100px; margin-top: -1100px; margin-left: 180px;" class="img rounded-circle">
    <img src="../../assets/imgballers/suarez.jpg" style="width:100px; height: 100px; margin-top: -1100px; margin-left: 160px;" class="img rounded-circle">
    <img src="../../assets/imgballers/aguero.jpg" style="width:100px; height: 100px; margin-top: -850px; margin-left: 130px;" class="img rounded-circle">
    <img src="../../assets/imgballers/zlatan.png" style="width:100px; height: 100px; margin-top: -850px; margin-left: 170px;" class="img rounded-circle">
    <img src="../../assets/imgballers/bale.jpg" style="width:100px; height: 100px; margin-top: -850px; margin-left: 170px;" class="img rounded-circle">
    <img src="../../assets/imgballers/hazard.jpg" style="width:100px; height: 100px; margin-top: -850px; margin-left: 160px;" class="img rounded-circle">
    <img src="../../assets/imgballers/mbappe.jpg" style="width:100px; height: 100px; margin-top: -600px; margin-left: 260px;" class="img rounded-circle">
    <img src="../../assets/imgballers/salah.jpg" style="width:100px; height: 100px; margin-top: -600px; margin-left: 160px;" class="img rounded-circle">
    <img src="../../assets/imgballers/iniesta.jpg" style="width:100px; height: 100px; margin-top: -600px; margin-left: 170px;" class="img rounded-circle">
    <img src="../../assets/imgballers/petr.jpg" style="width:100px; height: 100px; margin-top: -290px; margin-left: -360px;" class="img rounded-circle">
    
</div>
<button class="btn btn-success" (click)="todefault()" style="background-color:rgb(5, 4, 88) !important;">BACK TO DEFAULT</button>


        </div>
    </div>
    </div>
</div>
