<app-navbar></app-navbar>

<div class="container">
   <div class="row">
      <div class="col-md-4 mt-5">
         <div class="card-header">
            TEAM ONE (1)
         </div>
         <div class="h5 card-header">
            </div>

                <!--  -->

            <div class="mt-5">
               <div class="card-header">
                 CLICK TO CHANGE COACH
               </div>
             <input type="text" disabled class="form-control">
            </div>

            <div class="mt-5">
               <div class="card-header">
                 CLICK TO CHANGE PLAYERS
               </div>
               <input type="text" disabled class="form-control">
               <input type="text" disabled class="form-control">
               <input type="text" disabled class="form-control">
               <input type="text" disabled class="form-control">
               <input type="text" disabled class="form-control">
               <input type="text" disabled class="form-control">
               <input type="text" disabled class="form-control">
               <input type="text" disabled class="form-control">
               <input type="text" disabled class="form-control">
               <input type="text" disabled class="form-control">
               <input type="text" disabled class="form-control">
           
            </div>

            <div class="mt-5">
               <div class="card-header">
                   CLICK TO CHANGE CAPTAIN
               </div>
               <input type="text" disabled class="form-control">
            </div>

            <div class="mt-5">
               <div class="card-header">
                   CLICK TO CHANGE ASST. CAPTAIN
           </div>
           <input type="text" disabled class="form-control">
            </div>

            <div class="mt-5">
               <div class="card-header">
                   CLICK TO CHANGE BENCHERS 
               </div>
               <input type="text" disabled class="form-control">
               <input type="text" disabled class="form-control">
               <input type="text" disabled class="form-control">
               <input type="text" disabled class="form-control">
           
            </div>

            <div class="mt-5">
               <div class="card-header">
                   CLICK TO CHANGE  GOALKEEPER
               </div>
               <input type="text" disabled class="form-control">
            </div>

            <!-- <div class="mt-5">
               <div class="card-header text-center text-white"(click)="back_to_home_from_bothteams()" routerLink="/home" style="background-color: rgb(90, 10, 10) !important;">
                   BACK TO HOME
               </div>
            </div> -->

            <!--  -->
      </div>
         <div class="col-md-4">
             <div class="mt-5 h2" style="margin-left: 60px;">
                 <b>VS</b> 
             </div>
         </div>
      <div class="col-md-4 mt-5">
         <div class="card-header">
             TEAM TWO (2)
         </div>
         <div class="h5 card-header">
         </div>

         <div class="mt-5">
            <div class="card-header">
              CLICK TO CHANGE COACH
            </div>
          <input type="text" disabled class="form-control">
         </div>

         <div class="mt-5">
            <div class="card-header">
              CLICK TO CHANGE PLAYERS
            </div>
            <input type="text" disabled class="form-control">
            <input type="text" disabled class="form-control">
            <input type="text" disabled class="form-control">
            <input type="text" disabled class="form-control">
            <input type="text" disabled class="form-control">
            <input type="text" disabled class="form-control">
            <input type="text" disabled class="form-control">
            <input type="text" disabled class="form-control">
            <input type="text" disabled class="form-control">
            <input type="text" disabled class="form-control">
            <input type="text" disabled class="form-control">
        
         </div>

         <div class="mt-5">
            <div class="card-header">
                CLICK TO CHANGE CAPTAIN
            </div>
            <input type="text" disabled class="form-control">
         </div>

         <div class="mt-5">
            <div class="card-header">
                CLICK TO CHANGE ASST. CAPTAIN
        </div>
        <input type="text" disabled class="form-control">
         </div>

         <div class="mt-5">
            <div class="card-header">
                CLICK TO CHANGE BENCHERS 
            </div>
            <input type="text" disabled class="form-control">
            <input type="text" disabled class="form-control">
            <input type="text" disabled class="form-control">
            <input type="text" disabled class="form-control">
        
         </div>

         <div class="mt-5">
            <div class="card-header">
                CLICK TO CHANGE  GOALKEEPER
            </div>
            <input type="text" disabled class="form-control">
         </div>

         <div class="mt-5">
            <div class="card-header text-center text-white" style="background-color: rgb(5, 4, 88) !important;">
               <button (click)='back_to_home_from_bothteams' class="btn btn-success"> OK </button>
            </div>
         </div>

      </div>
   </div>
</div>
