<!-- <div>
  <h3>HOME | ABOUT US | CONTACT US</h3>
</div>

<div style="width: 100%;">
 <div style="width: 100%;">
  <app-about></app-about>
</div>
</div>

<div style="width: 100%;">
   <div style="width: 100%">
<app-contact></app-contact>
  
   </div>
</div>
<app-home></app-home> -->

<div class="nav">
   <button class="nav-btn" routerLink="/">HOME</button>
   <button class="nav-btn" routerLink="/portal/contact">ADD STUDENT</button>
   <button class="nav-btn" routerLink="/portal/add-student">ABOUT US</button>
   <button class="nav-btn" routerLink="/portal/about-us">STUDENT</button>

</div>
<router-outlet></router-outlet>