<app-navbar></app-navbar>
<div class="container mt-5">
    <div class="card mb-3 rounded" style="max-width: 540px; border: 1px solid rgb(5, 4, 88) !important;">
        <!-- <div class="row no-gutters"> -->
          <div class="col-md-4">
            <img src="../../assets/imgballers/zidane.jpg" class="ml-5" alt="..." style="width:400px; height: 400px;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title h3 mt-3 ">ZINEDINE ZIDANE</h5>
              <hr size="30" class="mb-4">
              <label for="" class="h5">TITLE :</label>
              <p class="card-text h6 ml-5 mb-4" >COACH</p>

              <label for="" class="h5">HAS WON :</label>
              <p class="card-text h6 ml-5 mb-4">CHAMPIONS LEAGUE(3)TIMES</p>

              <label for="" class="h5">CURRENTLY :</label>
              <p class="card-text h6 ml-5" >BARCELONA COACH</p>
            </div>
         <button class="mt-4  col-md-12 mb-4 btn btn-success" (click)="backtodef()" style="background-color: rgb(5, 4, 88) !important;">BACK TO DEFAULT</button>
          </div>
        <!-- </div> -->
      </div>
</div>